h1 {
    text-align: center;
    font-size: 60px;
    color: #FF4500;
}
tr {
    font-size: 20px;
    color: #FF4500;
}
.a1 {
    color: #00FFFF;
    font-size: 50px;
    text-decoration: none;
}

img {
    display: block;
  margin: 0 auto;
}
a {
    text-decoration: none;
}